.myProjects {
  padding: 0 0 3rem 0;
  margin-top: -55px;
}

.myProjects h1 {
  font-size: 5rem;
}

.myProjects-navbar {
  display: flex;
  background-color: #000000;
  width: 100%;
  padding: 1rem;
  height: 1.5rem;
  font-size: calc(3px + 2vmin);
}

.myProjects-filter {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid white;
  border-radius: 10px;
  width: 40%;
  justify-content: center;
  align-items: center;
  margin: 0 auto 2rem;
}

.myProjects-filter a {
  margin: 0 1rem;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.myProjects-filter a:hover {
  cursor: pointer;
  color: tomato;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: #f56262;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

.myProjects-list {
  display: flex;
  height: 60vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  flex-wrap: wrap;
  margin: auto;
  width: 80%;
}

.myProjects-item {
  display: flex;
  text-decoration: none;
  justify-content: space-between;
  color: black;
  margin: 5px;
  height: 250px;
  width: 49%;
  background: rgb(255, 255, 255);
}

.myProjects-item-img {
  clip-path: ellipse(180px 180px at 30% 50%);
  width: 50%;
  height: 100%;
}

.myProjects-item-description {
  display: inline;
  text-align: center;
  width: 50%;
}

.myProjects-item-description p{
  text-align: left;
  padding: .5rem;
}
