.skills {
  background: linear-gradient(145deg, #ff9999, #e68181);
  padding: 0 0 5rem 0;
}

.skills h1 {
  font-size: 5rem;
}

.skills img {
  height: 110px;
  width: 110px;
  border-radius: 40px;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  width: 50%;
}

.skills-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  height: 150px;
  width: 150px;
  border-radius: 55px;
  background: linear-gradient(145deg, #e68181, #ff9999);
  box-shadow: 28px 28px 56px #d97a7a, -28px -28px 56px #ffa4a4;
}
