.skills {
  background: #2d67d2;
  padding: 0 0 8rem 0;
  min-height: 60vh;
}

.skills h1 {
  font-size: 5rem;
}

.skills img {
  height: 110px;
  width: 110px;
  border-radius: 50%;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  width: 50%;
}

.skills-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  height: 150px;
  width: 150px;
  border-radius: 87px;
  background: linear-gradient(145deg, #306ee1, #295dbd);
  box-shadow: 27px 27px 41px #2657b0, -27px -27px 41px #3477f4;
}
